$font-path: '/static/fonts';
$image-path: '/static/img';
$brand-theme: 'firefox';

@import './node_modules/@mozilla-protocol/core/protocol/css/protocol.scss';
@debug "theme: #{$brand-theme}";
@import './node_modules/@mozilla-protocol/core/protocol/css/components/emphasis-box';

.c-page-header {
    background: $color-black;
    color: $color-white;
}
