// is it possible these paths will be different from firefox-protocol to page-specific css files?
$font-path: '../../node_modules/@mozilla-protocol/core/protocol/fonts';
$image-path: '../img';
$brand-theme: 'firefox';