@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Inter-Regular.woff2") format("woff2"), url("/static/fonts/Inter-Regular.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  src: url("/static/fonts/Inter-Bold.woff2") format("woff2"), url("/static/fonts/Inter-Bold.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: normal;
  src: url("/static/fonts/Inter-Italic.woff2") format("woff2"), url("/static/fonts/Inter-Italic.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: bold;
  src: url("/static/fonts/Inter-BoldItalic.woff2") format("woff2"), url("/static/fonts/Inter-BoldItalic.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/ZillaSlab-Regular.woff2") format("woff2"), url("/static/fonts/ZillaSlab-Regular.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: bold;
  src: url("/static/fonts/ZillaSlab-Bold.woff2") format("woff2"), url("/static/fonts/ZillaSlab-Bold.woff") format("woff"); }

article, aside, details, figcaption, figure, footer, header,
hgroup, main, nav, section, summary {
  display: block; }

audio, video, canvas {
  display: inline-block; }

html, body,
h1, h2, h3, h4, h5, h6, hr,
p, pre, blockquote, figure, figcaption,
table, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

blockquote, q {
  quotes: '' ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

iframe, a img {
  border: 0; }

img, video, object, embed {
  -ms-interpolation-mode: bicubic;
  height: auto;
  max-width: 100%; }

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
html {
  font-size: 100%;
  background: #fff; }

body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  background: #fff;
  color: #000000;
  font-family: Inter, X-LocaleSpecific, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.hidden {
  display: none; }

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
:link {
  color: #0060df;
  text-decoration: underline; }
  :link:hover {
    text-decoration: none; }
  :link:active {
    background-color: rgba(0, 0, 0, 0.05); }

:visited {
  color: #b833e1; }
  :visited:hover {
    color: #952bb9; }

.mzp-t-dark a:link,
.mzp-t-dark a:visited {
  color: #ffffff;
  text-decoration: underline; }

.mzp-t-dark a:visited {
  color: rgba(255, 255, 255, 0.8); }

.mzp-t-dark a:hover,
.mzp-t-dark a:focus,
.mzp-t-dark a:active {
  text-decoration: none; }

.mzp-c-cta-link {
  font-weight: bold; }
  .mzp-t-firefox .mzp-c-cta-link {
    font-family: Metropolis, Inter, X-LocaleSpecific, sans-serif; }

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.mzp-l-content {
  zoom: 1;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 304px;
  padding: 24px;
  position: relative; }
  .mzp-l-content:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden; }
  @media (min-width: 768px) {
    .mzp-l-content {
      padding: 24px 64px; } }
  @media (min-width: 1024px) {
    .mzp-l-content {
      padding: 24px 96px; } }
  .mzp-l-content.mzp-t-content-sm {
    max-width: 432px; }
    @media (min-width: 768px) {
      .mzp-l-content.mzp-t-content-sm {
        padding: 24px; } }
    @media (min-width: 1024px) {
      .mzp-l-content.mzp-t-content-sm {
        padding: 24px; } }
  .mzp-l-content.mzp-t-content-md {
    max-width: 688px; }
    @media (min-width: 768px) {
      .mzp-l-content.mzp-t-content-md {
        padding: 24px; } }
  .mzp-l-content.mzp-t-content-lg {
    max-width: 928px; }
  .mzp-l-content.mzp-t-content-xl {
    max-width: 1152px; }

hr {
  border: 0 solid #ededf0;
  border-top-width: 4px;
  margin: 1.25em 0; }

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 .5em; }

.mzp-t-mozilla h1, .mzp-t-mozilla h2, .mzp-t-mozilla h3, .mzp-t-mozilla h4 {
  font-family: "Zilla Slab", Inter, X-LocaleSpecific, sans-serif; }

.mzp-t-firefox {
  color: #20123a; }
  .mzp-t-firefox h1, .mzp-t-firefox h2, .mzp-t-firefox h3, .mzp-t-firefox h4 {
    font-family: Metropolis, Inter, X-LocaleSpecific, sans-serif; }

h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: .25em; }
  @media (min-width: 768px) {
    h1 {
      font-size: 64px;
      font-size: 4rem; } }

h2 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: .45em; }
  @media (min-width: 768px) {
    h2 {
      font-size: 56px;
      font-size: 3.5rem; } }

h3 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.1; }
  @media (min-width: 768px) {
    h3 {
      font-size: 48px;
      font-size: 3rem; } }

h4 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.1; }
  @media (min-width: 768px) {
    h4 {
      font-size: 40px;
      font-size: 2.5rem; } }

h5 {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.1; }
  @media (min-width: 768px) {
    h5 {
      font-size: 32px;
      font-size: 2rem; } }

h6 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1; }
  @media (min-width: 768px) {
    h6 {
      font-size: 24px;
      font-size: 1.5rem; } }

p,
ul,
ol,
dl,
table {
  margin: 0 0 1.25em; }

code {
  font-size: .875em; }

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.mzp-c-emphasis-box {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 12px 1px rgba(29, 17, 51, 0.04), 0 3px 16px 2px rgba(9, 32, 77, 0.12), 0 5px 10px -3px rgba(29, 17, 51, 0.12);
  margin: 16px;
  padding: 32px; }
  .mzp-c-emphasis-box.mzp-t-dark {
    background: #42425a;
    color: #ffffff; }

.c-page-header {
  background: #000000;
  color: #ffffff; }
