$font-path: '../../node_modules/@mozilla-protocol/core/protocol/fonts';
$image-path: '../img';
$brand-theme: 'firefox';

@import './node_modules/@mozilla-protocol/core/protocol/css/protocol.scss';
@debug "theme: #{$brand-theme}";
@import './node_modules/@mozilla-protocol/core/protocol/css/components/emphasis-box';

// From bedrock
// These are general styles for elements/components that occur on every page.
// Individual pages may include additional component styles as needed.

// Fonts
@import './node_modules/@mozilla-protocol/core/protocol/css/includes/fonts/inter';
@import './node_modules/@mozilla-protocol/core/protocol/css/includes/fonts/metropolis';

// Base elements - general HTML elements
@import './node_modules/@mozilla-protocol/core/protocol/css/base/elements';

// Base includes - animations
@import './node_modules/@mozilla-protocol/core/protocol/css/base/includes';

// Utility includes
@import './node_modules/@mozilla-protocol/core/protocol/css/base/utilities/backgrounds';
@import './node_modules/@mozilla-protocol/core/protocol/css/base/utilities/titles';

// Global components
@import './node_modules/@mozilla-protocol/core/protocol/css/components/button';
@import './node_modules/@mozilla-protocol/core/protocol/css/components/card';
@import './node_modules/@mozilla-protocol/core/protocol/css/components/language-switcher';